# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.DS_Store
*._.DS_Store
._*
progs/miRdup/*
!progs/miRdup/smirp_readme.txt
progs/SMIRP/*
!progs/SMIRP/readme.txt
progs/TarPmiR/*
!progs/TarPmiR/readme.txt